<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Message Nest</title>
</head>

<body>
  <h1>Welcome to <%= appTitle %></h1>
  <h2>Following are the messages sent by different users with DAY on which tha message was sent</h2>
  <hr>
  <h1><a href="/new">Add new message</a></h1>
  <hr>
  <ul>
    <% messages.forEach(message => { %>
    <li>
      <div>User: <%= message.user %></div>
      <div>Message: <%=message.text %></div>
      <div>Day: <%= message.added %></div>
      <button data-message-id="<%= message.id %>"><a href="/details?id=<%= message.id %>">Open Message Details</a></button>
    </li>
    <% }); %>
  </ul>
</body>

</html>